@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;

    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    form .field-group .field:nth-child(2) {
        margin-left: 0;
    } 
}

@media (min-width: 1700px) {

    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-width: 600px) {
    .items-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}


@media (max-width: 380px) {

    #page-home {
       height: 120vh;
    }

    #page-home header a {
        bottom: -88px;
    }

    #page-home header a span {

        margin-right: 12px;
        width: 28px;
    }

    .items-grid {
        margin-left: -28px;
    }

    form button {
        margin-left: -18px;
    }
}

@media (max-width: 320px) {
    #page-home {
       height: 130vh;
    }

    #page-home header a {
        bottom: -228px;
        margin-bottom: 20px;
    }

    #page-home header a span {

        margin-right: 12px;
        width: 28px;
    }

    .items-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    fieldset {
        margin-left: -20px;
    }

    .items-grid {
        margin-left: 0;
    }

    form fieldset legend {
        flex-direction: column;
    }

    form fieldset legend span {
       margin-top: 8px;
       margin-left: 8px;
    }

    form button {
        width: 180px;
        height: 66px;
    }
}
